@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Aplicas la variable "montserrat" en tu body */
body {
  color: var(--foreground);
  background: var(--background);

  /* Reemplaza Arial, Helvetica con la nueva variable */
  font-family: var(--font-montserrat), sans-serif;
}

